body{
    background-color: #9E8036;
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10em;
    z-index: 1;
}
#container{
    background-color: #CC8D47;
    display: flex;
    min-height: 12em;
    height: 26em;
    min-width: 20em;
    width: 30em;
    justify-content: center;
    border:  solid 2px black;
    border-radius: 15px;
}
#interior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
#botao{
    display: flex;
    justify-content: center;
    margin: 1em;
}
#logo{
    border: solid 1px transparent; /* Tentando parar de fazer a logo se mexer na pseudoclass hover, não parou completamente, mas diminuiu*/
    min-width: 5em;
    width: 8em;
    min-height: 5em;
    height: 8em;
}
#user{
    background-color: #CCBA6C;
    border: solid 2px black;
    border-radius: 15px;
    height: 3em;
    width: 15em;
    text-align: center;
}
#password{
    background-color: #CCBA6C;
    border: solid 2px black;
    border-radius: 15px;
    height: 3em;
    width: 15em;
    text-align: center;
}
#entrar{
    background-color: #9E8036;
    border: solid 3px black;
    border-radius: 15px;
    height: 3em;
    width: 8em;
    text-align: center;
}
#user:hover{
    width: 16em;
}
#password:hover{
    width: 16em;
}
#animations{
    display: flex;
    flex-direction: row;
}
.circulo{
    position: relative;
    background-color: #E3AC52;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    z-index: -1;
    animation-name: fundo1;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}
.circulo2{
    position: relative;
    background-color: #E3BE52;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    z-index: -1;
    animation-name: fundo1;
    animation-duration: 45s;
    animation-delay: 0.7s;
    animation-iteration-count: infinite;
}
.circulo3{
    position: relative;
    background-color: #E3AF52;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    z-index: -1;
    animation-name: fundo1;
    animation-duration: 50s;
    animation-delay: 1.3s;
    animation-iteration-count: infinite;
}
@keyframes fundo1 {
    0%, 20%, 40%, 60%, 80%, 100% {top: -8em;}
    10%, 30%, 50%, 70%, 90%{top: 1px;}
}
#topo{
    display: flex;
}
.imgbanner{
    position: flex;
    
    min-width: 20em;
    min-height: 20em;
    width: 30em;
    height: 30em;
}
#direita{
    display: flex;
    flex-direction: column;
}
#parte1{
    background-color: #f3dcaa;
    min-width: 10em;
    width: 65.5em;
    height: 17.2em;
}
#parte2{
    background-color: #e87719;
    min-width: 10em;
    height: 12.8em;
    width: 65.5em;
}
#text{
    display: flex;
    justify-content: center;
}
#text2{
    display: flex;
    justify-content: center;
}
.titulo{
    font-size: 4em;
}
.descr{
    font-size: 2em; 
}

